{% extends 'base.html.twig' %}

{% block title %}Consultar reservaciones{% endblock %}

{% block headerTitle %}Consultar reservaciones{% endblock %}

{% block content %}
    <div style="display: flex; flex-direction: column; align-items: center; padding-top: 20px;">
        {% for reservacion in reservaciones_data %}
            <div style="display: flex; margin-bottom: 20px; border-radius: 10px; overflow: hidden">
                <div
                    style="
                        min-width: 240px; min-height: 115px; 
                        background-color: #AAB8C5; 
                        display: flex; 
                        flex-direction: column; 
                        align-items: center;
                        justify-content: center;
                    "
                >
                    <h3>Cubiculo</h3>
                    <div>{{ reservacion['cubiculo_id'] }}</div>
                </div>

                <div
                    style="
                        min-width: 240px; min-height: 115px; 
                        background-color: #2F3A67; 
                        display: flex; 
                        flex-direction: column; 
                        align-items: center;
                        justify-content: center;
                        color: white;
                    "
                >
                    <h3>Horario establecido:</h3>
                    <div>{{ reservacion['hora'] }}</div>
                    <div>{{ reservacion['fecha_de_reservacion'] }}</div>
                    <div style="font-size: 12px;">
                        <span>ID: {{ reservacion['reserva_id'] }}</span>
                        <span> - {{ reservacion['estado'] }}</span>
                    </div>
                </div>

                <div
                    style="
                        min-width: 240px; min-height: 115px; 
                        background-color: #AAB8C5; 
                        display: flex; 
                        flex-direction: column; 
                        align-items: center;
                        justify-content: center;
                    "
                >
                   
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}